# Importar bibliotecas que se usaran

In [41]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Abrir el archivo CSV

In [48]:
# Cargar los archivos CSV
data_old = pd.read_csv("Titanic-Dataset-old.csv")
data = pd.read_csv("Titanic-Dataset.csv")

# 1.	Identificar y documentar columnas con valores nulos y decidir una estrategia para abordarlas (eliminación, imputación)

In [43]:
# Ver valores nulos
print(data.isnull().sum())

# Eliminar la columna de Cabina
data = data.drop('Cabin', axis=1)

# Imputar la columna de Edad
Imputar = SimpleImputer(strategy='mean')
data['Age'] = Imputar.fit_transform(data[['Age']])

# Eliminar las dos filas en Embarked
data = data.dropna(subset=['Embarked'])

# Sobreescribir el archivo CSV
data.to_csv("Titanic-Dataset.csv", index=False)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

2.	Decida si ciertas columnas pueden ser innecesarias para el análisis y elimínelas

In [44]:
data = data.drop('Ticket', axis=1)

# Sobreescribir el archivo CSV
data.to_csv("Titanic-Dataset.csv", index=False)

# 3.	Identifique variables categóricas importantes y conviértalas a un formato más manejable (one-hot, asignación de números, etc.)

In [45]:
# Aplicar One-Hot a la variable Sex
data = pd.get_dummies(data, columns=['Sex'])

# Asignación de números a la variable 'Pclass' (Label Encoding)
data['Pclass'] = data['Pclass'].astype('category').cat.codes

# Asignación de números a la variable 'Embarked' (Label Encoding)
data['Embarked'] = data['Embarked'].astype('category').cat.codes

# 4.	Investiga si hay duplicados y decide qué hacer con ellos.

In [46]:
# Verificar duplicados en todo el conjunto de datos
duplicados = data.duplicated()

# Imprimir las filas duplicadas
print("Filas duplicadas:")
print(data[duplicados])

# Imprimir la cantidad total de filas duplicadas
print("\nCantidad total de filas duplicadas:", duplicados.sum())

Filas duplicadas:
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Age, SibSp, Parch, Fare, Embarked, Sex_female, Sex_male]
Index: []

Cantidad total de filas duplicadas: 0

# 5.	Examinar si los valores agregados se mantienen consistentes

In [51]:

# Compara los valores agregados
print("\n ================ DataSet Viejo ================")
print(data_old.describe())
print("\n ================ DataSet Nuevo ================")
print(data.describe())

 ================ DataSet Viejo ================
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

 ================ DataSet Nuevo ================
       PassengerId    Survived      Pclass         Age       SibSp  \
count   889.000000  889.000000  889.000000  889.000000  889.000000
mean    446.000000    0.382452    1.311586   29.653446    0.524184
std     256.998173    0.486260    0.834700   12.968366    1.103705
min       1.000000    0.000000    0.000000    0.420000    0.000000
25%     224.000000    0.000000    1.000000   22.000000    0.000000
50%     446.000000    0.000000    2.000000   29.699118    0.000000
75%     668.000000    1.000000    2.000000   35.000000    1.000000
max     891.000000    1.000000    2.000000   80.000000    8.000000

            Parch        Fare    Embarked
count  889.000000  889.000000  889.000000
mean     0.382452   32.096681    1.535433
std      0.806761   49.697504    0.792088
min      0.000000    0.000000    0.000000
25%      0.000000    7.895800    1.000000
50%      0.000000   14.454200    2.000000
75%      0.000000   31.000000    2.000000
max      6.000000  512.329200    2.000000